html{
    font-size: 62.5%;
}

:root{
    --text: 1.5rem;
    --border-r: 1.5rem;
    --font-weight-sm: 400;
    --font-weight-bld: 700;
    --container-m-w: 30rem;
    --card-padding: 1.7rem 1.7rem 3.8rem 1.7rem ;
    --font-family: "Outfit", sans-serif ;
    --mg-bottom: 2.5rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:var(--font-family) ;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-size: var(--text);
    text-align: center;
}

img{
    width: 100%;
    border-radius: var(--border-r);
    margin-bottom: var(--mg-bottom);
}

h2{
    font-weight: var(--font-weight-bld) ;
    color: (218, 44%, 22%);
    margin-bottom: var(--mg-bottom);
    color: hsl(218, 44%, 22%);
}

p{
    font-weight: var(--font-weight-sm);
    color: hsl(216, 15%, 48%);

}

/* No flex-box */

.main-container{
    max-width: var(--container-m-w);
    width: 90%;
    margin: 50vh auto;
    transform: translateY(-50%);
    background-color: hsl(0, 0%, 100%);
    padding: var(--card-padding);
    border-radius: var(--border-r);
}